<div class="personView">
  <h3 class="personName"> {{ firstName }} {{ lastName }} aka "{{ nickname }}"</h3>
  <div class="imageDiv" width="auto" height="300px"><img src="{{ image }}"></div>
  <p>{{ notes }}</p>

  <button id="delete" class="alert" data-id="{{ _id }}">Delete</button>


</div>
